@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf);
}

:root {
    --sidebar-color: #2590be;
    --main-color: #d4d4d8;
    --card-trim-color: #f59e0b;
    --shadow-color: #a3a3a3;
    --white-color: #f1f5f9;
    --white-text: #ffffff;

    font-family: 'Roboto', 'Courier New', Courier, monospace;
    box-sizing: border-box;
    
}


body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 98vh;
    width: 98vw;
    grid-template-areas: 
    "sidebar content";
}

.sidebar {
    background-color: var(--sidebar-color);
    color: var(--white-text);
    grid-area: sidebar;

    display: grid;
    padding-left: 30px;
    grid-template-rows: auto 1fr 1fr;
    align-items: start;

}

.user-menu,
.user-admin {
    font-size: 1.5rem;
}

.content {
    background-color: var(--main-color);
    grid-area: content;
    

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr 3fr;
    grid-template-areas: 
    "header"
    "main";

    
}

.header {
    background-color: var(--white-color);
    grid-area: header;
    display: grid;
    grid-template-rows: 4rem 8rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "topline topline"
    "bottomline bottomline";
    padding: 0 30px;
}

.top-line {
    grid-area: topline;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 4rem; */
    grid-template-areas: 
    "search-bar user-login-details";
    align-items: center;

}

.bottom-line {
    grid-area: bottomline;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "user-hello buttons";
}

.search-bar {
    display: flex;
    grid-area: search-bar;
    
}

.search-bar>input {
    display: flex;
    flex: 1;
    height: 1.5rem;
    border-radius: 50px;
    background-color: var(--main-color);
    padding-left: 20px;
    font-size: 1.2rem;
}

.user-login-details {
    grid-area: user-login-details;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 30px;
}

.user-login-details .user-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.user-hello {
    grid-area: user-hello;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;

}

.user-hello img {
    grid-row: 1/3;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

.greeting {
    display: grid;
    grid-row: 1 / 3;
    grid-column: 2/3;
    /* align-items: start; */
}

.greeting>p:first-of-type {
    font-weight: bold;
    grid-row: 1/2;
    /* display: grid; */
    align-self: end;
    margin: 0;
}

.greeting .user-name {
    font-size: 2rem;
    font-weight: bold;
    grid-row: 2/3;
    margin: 0;
}

.buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

button {
    background-color: var(--sidebar-color);
    color: white;
    border-radius: 20px;
    font-size: 1.5rem;
    height: 2.5rem;
    

}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "project-title announce-title"
    "card-group trend-announce-group";
    padding: 20px 30px 40px;
}

.project-title {
    grid-area: project-title;
}

.announce-title {
    grid-area: announce-title;
}

.announcement p:first-of-type {
    font-weight:bold;
}

.announcement p:nth-child(2) {
    font-size: .8rem;
}

.trend-announce-group {
    grid-area: trend-announce-group;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card-group {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    height: 100%;
    margin-right: 30px;
    grid-area: card-group;
    align-items: stretch;
}


.card {
    background-color: var(--white-color);
    max-height: 250px;
    padding: 20px;
    border-radius: 10px;
    border-left: 8px solid var(--card-trim-color);
    
}

.announce-group, 
.trending-group {
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 30px;
}

.sidebar > h1 {
    padding-left: 40px;
    /* content: url(images/home.svg);
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    filter: invert(1) brightness(100); */
}


.side-menu:nth-child(1)::before {
    content: url(images/home.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    filter: invert(1) brightness(100);
}

.side-menu:nth-child(2)::before {
    content: url(images/card-account-details-outline.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    filter: invert(1) brightness(100);
}

.side-menu:nth-child(3)::before {
    content: url(images/message-reply-outline.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    filter: invert(1) brightness(100);
}

.side-menu:nth-child(4)::before {
    content: url(images/clock-outline.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    filter: invert(1) brightness(100);
}

.side-menu:nth-child(5)::before {
    content: url(images/check-circle.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    filter: invert(1) brightness(100);
}

.side-menu:nth-child(6)::before {
    content: url(images/account-group.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    filter: invert(1) brightness(100);
}

.side-menu:nth-child(8)::before {
    content: url(images/cog.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    filter: invert(1) brightness(100);
}

.side-menu:nth-child(9)::before {
    content: url(images/help-box-outline.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    filter: invert(1) brightness(100);
}

.side-menu:nth-child(10)::before {
    content: url(images/shield-check.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    filter: invert(1) brightness(100);
}

.search-bar::before {
    content: url(images/search-web.svg);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    /* filter: invert(1) brightness(100); */
}
